@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Tbilisi, Georgia <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="gbs@gmail.com">gbs@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="Valeri777@gmail.com">Valeri777@gmail.com</a>
</address>